body, html{
  height: 100%;
}
p{
  margin: 0px;
}

.Home{
  position: relative;

}
.sign_text{
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  color: white;
  top: 385px;
  left: 70px;
  transform: rotate(-5deg);
  background: transparent;
}
#street_address{
  font-weight: bold;
}
#corner_homes{
  font-size: .7em;
}