
p{
  margin: 0px 40px 1px 0px;
}

.Home{
  position: relative;

}
.sign_text{
  position: absolute;
  font-optical-sizing: auto;
  max-width: 505px;
  max-height: fit-content;
  position: fixed;
  font-size: 2.8vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  top: 340px;
  left: 5%;
  right: 20%;
  transform: rotate(-5deg);
}
#street_address{
  font-weight: bold;
}
#corner_homes{
  font-size: .7em;
}