body{
  background-image: url("./assets/house1.jpg");
  background-repeat: no-repeat;
  background-size: 1450px 800px;
}
p{
  margin: 0px 40px 1px 0px;
}

.Home{
  position: relative;

}
.sign_text{
  position: absolute;
  font-optical-sizing: auto;
  max-width: 505px;
  max-height: fit-content;
  position: fixed;
  font-size: 37px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  top: 430px;
  left: 80px;
  transform: rotate(-6deg);
}
#street_address{
  font-weight: bold;
}
#corner_homes{
  font-size: .7em;
}